body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
}

.topnav a:hover {
  background-color: #111;

}
.banner-area {
  margin: 0; 
  padding: 0;
 opacity: 0.8;
  background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	background-image: url(restaurant/header.jpg);
	background-size: cover;
}
.banner-area h2 {
  padding-left: 2%;
	padding-top: 8%;
	font-size: 70px;
	font-family: 'Trebuchet MS';
	text-transform: uppercase;
	color: #fff;
}
.container {
    max-width: 1200px;
    margin:  auto;
    margin-top: 5%;
    padding: 1.5em;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  .menu-group-heading {
    margin: 0;
    padding-bottom: 1px;
    border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 90px;
    height: 90px;
    flex-shrink: 5;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }